@charset "UTF-8";
:root {
  --primary-color: #ffffff;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --text-description-color: #757575;
  --hero-background: #2F303A;
  --hero-button-hover: #188cE8;
  --primary-background: #e5e5e5;
  --secondary-background: #f5f4fa;
  --doing-bgc: rgba(47, 48, 58, 0.8);
  --logo-header: #000000;
  --mail-phone-footer: rgba(255, 255, 255, 0.6);
  --projects-border-color: #eeeeee;
  --header-line-bottom: #ECECEC;
  --card-set-gap: 30px;
  --icon-main-color: #AFB1B8;
  --icon-footer-color: rgba(255, 255, 255, 0.1);
  /* Animations */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

/* разделение по блокам */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* сброс стандартных параметров */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 10px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Анимация подчеркивания header */
@-webkit-keyframes header-current {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform: opacity 0;
            transform: opacity 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform: opacity 1;
            transform: opacity 1;
  }
}
@keyframes header-current {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform: opacity 0;
            transform: opacity 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform: opacity 1;
            transform: opacity 1;
  }
}

/* Анимация раскачивания кнопки Hero */
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  4% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  4% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 90px;
  padding: 20px 0;
}

.logo:focus .header__logo,
.logo:hover .header__logo,
.logo:hover .footer__logo,
.logo:focus .footer__logo {
  color: var(--accent-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__wrapper {
  position: absolute;
  top: 46vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--animation) 200ms, -webkit-transform var(--animation);
  transition: opacity var(--animation) 200ms, -webkit-transform var(--animation);
  transition: transform var(--animation), opacity var(--animation) 200ms;
  transition: transform var(--animation), opacity var(--animation) 200ms, -webkit-transform var(--animation);
  /* Начало открытия окна */
  /* Окончание открытия */
}

@media screen and (min-width: 480px) {
  .modal__wrapper {
    top: 40vh;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__wrapper {
    top: 50vh;
    width: 528px;
  }
}

.backdrop.is-hidden .modal__wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.backdrop .modal__wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  padding: 40px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.modal__btn:hover, .modal__btn:focus {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.modal__btn-svg {
  fill: var(--logo-header);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal__btn:hover .modal__btn-svg,
.modal__btn:focus .modal__btn-svg {
  fill: var(--accent-color);
}

/* ================
 Modal form
 ==================*/
.backdrop__form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .backdrop__form-title {
    line-height: 1.15;
  }
}

.modal-form__group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-description-color);
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  padding: 12px 16px 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
  border-radius: 4px;
  outline: transparent;
}

.modal-form__input:focus, .modal-form__input:hover {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.user-message {
  padding: 12px 16px;
  resize: none;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-form__input:focus + .modal-form__icon,
.modal-form__input:hover + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--hero-button-hover);
}

.modal-form__textarea {
  display: block;
  margin-bottom: 20px;
}

/* Custom Checkbox */
.form-policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-policy__desc {
  display: inline-block;
  max-width: 340px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--text-description-color);
}

@media screen and (min-width: 480px) {
  .form-policy__desc {
    white-space: nowrap;
    max-width: none;
  }
}

@media screen and (min-width: 1200px) {
  .form-policy__desc {
    font-size: 14px;
    line-height: 1.71px;
  }
}

.form-policy__a {
  text-decoration: underline;
  color: var(--accent-color);
}

.form-policy__custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  -ms-flex-preferred-size: 16px;
      flex-basis: 16px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

@media screen and (min-width: 1200px) {
  .form-policy__custom-checkbox {
    margin-left: 10px;
  }
}

.form-policy__checkbox:focus + .form-policy__custom-checkbox,
.form-policy__checkbox:hover + .form-policy__custom-checkbox {
  border-color: var(--accent-color);
}

.form-policy__custom-checkbox--mark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
  -webkit-transform: translate(0, 40%);
          transform: translate(0, 40%);
}

@media screen and (min-width: 1200px) {
  .form-policy__custom-checkbox--mark {
    margin-left: 10px;
  }
}

@media screen and (min-width: 480px) {
  .form-policy__custom-checkbox--mark {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

.form-policy__checkbox:checked ~ .form-policy__custom-checkbox .form-policy__custom-checkbox--mark {
  opacity: 1;
}

/* Social icon */
.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
  fill: var(--icon-main-color);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.socials-link:hover, .socials-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-color);
  cursor: pointer;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 1199.98px) {
  .header__navigation {
    width: 100%;
    position: relative;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.header__container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile-menu__item:not(:last-child) {
  padding-bottom: 32px;
  white-space: nowrap;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__nav-link.current {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  margin-top: auto;
  padding-bottom: 64px;
}

.mobile-menu__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__phone-link:hover, .mobile-menu__phone-link:focus {
  color: var(--icon-main-color);
}

.mobile-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__mail-link:hover, .mobile-menu__mail-link:focus {
  color: var(--accent-color);
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__socials-item {
  padding: 5px 0;
}

.mobile-menu__socials-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__socials-link:hover, .mobile-menu__socials-link:focus {
  color: var(--icon-main-color);
}

/* Header */
.header {
  position: relative;
  border-bottom: 1px solid var(--header-line-bottom);
  /* site nav */
}

.header__logo {
  color: var(--logo-header);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header__list {
    display: none;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__icon.mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__icon.phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.header__mail-phone {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header__mail-phone {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__mail-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__mail-phone .header__item {
    margin: 0;
    margin-right: auto;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-description-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact.mail {
    padding-bottom: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact.phone {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is_open .icon-cross {
  display: block;
}

.menu-button.is_open .icon-menu {
  display: none;
}

.header__link {
  display: block;
  position: relative;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
  /* выбор текущей страницы */
}

.header__link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-animation: header-current 1s forwards;
          animation: header-current 1s forwards;
}

.header__link.current {
  color: var(--accent-color);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--hero-background);
  height: 400px;
  width: 100%;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  /**
  |============================
  | Завантаження звичайного фонового зображення для мобільної версії
  |============================
*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/header_mob.jpg"), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: url("../../images/header_mob.jpg"), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header_mob.webp") 1x), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: -webkit-image-set(url("../../images/header_mob.webp") 1x), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  /**
  |============================
  | Завантаження звичайного фонового зображення для планшету
  |============================
*/
  /**
  |============================
  | Завантаження звичайного фонового зображення для десктопної версії
  |============================
*/
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/header_mob.jpg") 2x, -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("../../images/header_mob.jpg") 2x, linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header@2x_mob.webp") 2x), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: -webkit-image-set(url("../../images/header@2x_mob.webp") 2x), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../images/header_tab.jpg"), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("../../images/header_tab.jpg"), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header_tab.webp") 1x), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: -webkit-image-set(url("../../images/header_tab.webp") 1x), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/header@2x_tab.jpg") 2x, -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("../../images/header@2x_tab.jpg") 2x, linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header@2x_tab.webp") 2x), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: -webkit-image-set(url("../../images/header@2x_tab.webp") 2x), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/header_desk.jpg"), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("../../images/header_desk.jpg"), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header_desk.webp") 1x);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/header@2x_desk.jpg") 2x, -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: url("../../images/header@2x_desk.jpg") 2x, linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header@2x_desk.webp") 2x), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
    background-image: -webkit-image-set(url("../../images/header@2x_desk.webp") 2x), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
  }
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .hero__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
  }
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--primary-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  color: var(--primary-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  -webkit-animation: swing 10s ease-in-out infinite forwards;
          animation: swing 10s ease-in-out infinite forwards;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-button-hover);
}

/* Особенности features  */
.section__uppertitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__section-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__section-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199.98px) {
  .features__section-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .features__section-item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__section-item {
    width: 354px;
    -ms-flex-preferred-size: calc(50%-30px);
        flex-basis: calc(50%-30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__section-item {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .features__section-item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .features__section-title {
    text-align: center;
  }
}

.features__section-description {
  color: var(--text-description-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-background);
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
}

@media screen and (min-width: 480px) {
  .features__icon-section {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__icon-section {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon-section {
    width: 270px;
  }
}

/* Чем мы занимаемся */
.section.doing {
  padding-top: 0;
}

@media screen and (max-width: 1199.98px) {
  .section.doing {
    display: none;
  }
}

.doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doing__bgtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.doing__item {
  position: relative;
}

.doing__item:not(:last-child) {
  margin-right: 30px;
  position: relative;
}

.doing__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--doing-bgc);
}

/* team */
.team {
  background-color: var(--secondary-background);
}

.team__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__description {
  color: var(--text-description-color);
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767.98px) {
  .team__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__img {
    width: 354px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team__item {
  background-color: var(--primary-color);
  -ms-flex-preferred-size: calc(100% / 4- var(--card-set-gap));
      flex-basis: calc(100% / 4- var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team__content {
  padding: 30px;
}

.team__card {
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Clients icon */
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
        flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - var(--card-set-gap));
        flex-basis: calc(100% / 6 - var(--card-set-gap));
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
  height: 92px;
  width: 100%;
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: var(--icon-main-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/* =========
footer 
=============*/
.footer {
  background-color: var(--hero-background);
  padding: 60px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item:nth-child(1) {
    margin-right: 70px;
  }
  .footer__item:nth-child(2) {
    margin-right: auto;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__item.footer__mail {
    width: 100%;
  }
}

@media screen and (max-width: 1199.98px) {
  .address__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__address {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.footer__address:hover, .footer__address:focus {
  color: var(--accent-color);
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  color: var(--mail-phone-footer);
  font-size: 14px;
  line-height: 1.71px;
  text-decoration: none;
  font-style: normal;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.footer__contact:hover, .footer__contact:focus {
  color: var(--accent-color);
}

.footer__logo {
  color: var(--primary-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.footer__logo-main {
  display: block;
  margin-right: 0;
  padding: 0;
  margin-bottom: 20px;
}

/* Footer Join socials */
.footer__item-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.footer__socials-link {
  background-color: var(--icon-footer-color);
  fill: var(--primary-color);
}

.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-color);
  cursor: pointer;
}

/* Footer E-mail form */
.footer__form {
  width: 100%;
}

@media screen and (max-width: 1199.98px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__mail-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199.98px) {
  .footer__mail-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__group {
  max-width: 450px;
  width: 100%;
}

@media screen and (max-width: 1199.98px) {
  .footer__group {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__group {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--hero-background);
  color: var(--primary-background);
  outline: transparent;
}

@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__input:focus, .footer__input:hover {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.footer__mail-title {
  margin-right: 10px;
}

.footer__mail-btn {
  color: var(--primary-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__mail-btn:hover, .footer__mail-btn:focus {
  background-color: var(--hero-button-hover);
}

/* Button filter*/
.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -8px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter .section-item {
  margin-left: 8px;
  margin-top: 15px;
}

.button-filter {
  color: var(--primary-text-color);
  background-color: var(--secondary-background);
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 50px;
  min-height: 38px;
  border: 0;
  -webkit-transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), -webkit-box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.button-filter.active, .button-filter:hover, .button-filter:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* ---------------------------------------------
 portfolio projects 
 ---------------------------------------------*/
.projects h2 {
  margin-bottom: 4px;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects__description {
  color: var(--text-description-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .projects.section {
    padding-top: 94px;
  }
}

.projects__img {
  display: block;
  width: 100%;
  max-width: 450px;
  height: auto;
}

@media screen and (min-width: 480px) {
  .projects__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .projects__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__img {
    width: 370px;
  }
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 480px) {
  .projects__item {
    -ms-flex-preferred-size: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.projects__content {
  padding: 20px 24px;
  border: 1px solid var(--projects-border-color);
  border-top: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}

.projects__card:hover, .projects__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  padding: 77px 24px;
  overflow-y: auto;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: transform var(--animation), opacity var(--animation);
  transition: transform var(--animation), opacity var(--animation), -webkit-transform var(--animation);
}

@media screen and (min-width: 768px) {
  .overlay-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-description {
    padding: 64px 24px;
  }
}

.projects__card:hover .overlay-description,
.projects__card:focus .overlay-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */