// Mobile-menu
.header__navigation {
  @include mq(not-desktop) {
    width: 100%;
    position: relative;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @include mq(tablet) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @include mq(tablet) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.header__container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile-menu__item:not(:last-child) {
  padding-bottom: 32px;
  white-space: nowrap;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
  }
}

.mobile-menu__contacts {
  margin-top: auto;
  padding-bottom: 64px;
}

.mobile-menu__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;

  &:hover,
  &:focus {
    color: var(--icon-main-color);
  }
}

.mobile-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__socials {
  display: flex;
  flex-wrap: wrap;

  &-item {
    padding: 5px 0;
  }

  &-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: #2196f3;

    &:hover,
    &:focus {
      color: var(--icon-main-color);
    }
  }
}
