/* hero */

.hero {
  background-color: var(--hero-background);
  height: 400px;
  width: 100%;
  padding: 118px 0;

  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  // background-image:url("../images/hero-bg-img.jpg"), linear-gradient(
  //     to right,
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4));

  /**
  |============================
  | Завантаження звичайного фонового зображення для мобільної версії
  |============================
*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url("../../images/header_mob.webp"),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header_mob.webp") 1x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header@2x_mob.webp") 2x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header@3x_mob.webp") 3x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  // Завантаження ретінізованого 2х фонового зображення
  @include mq(retina) {
    background-image: url("../../images/header_mob.webp"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header_mob.webp") 1x),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(
        url("../../images/header@2x_mob.webp") 2x
      ),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(
        url("../../images/header@3x_mob.webp") 3x
      ),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }

  /**
  |============================
  | Завантаження звичайного фонового зображення для планшету
  |============================
*/
  @include mq(tablet) {
    background-image: url("../../images/header_tab.webp"),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header_tab.webp") 1x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header@2x_tab.webp") 2x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header@3x_tab.webp") 3x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  // Завантаження ретінізованого 2х фонового зображення
  @include mq(retina) {
    background-image: url("../../images/header_tab.webp"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header_tab.webp") 1x),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(
        url("../../images/header@2x_tab.webp") 2x
      ),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(
        url("../../images/header@3x_tab.webp") 3x
      ),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
  }

  /**
  |============================
  | Завантаження звичайного фонового зображення для десктопної версії
  |============================
*/

  @include mq(desktop) {
    background-image: url("../../images/header_desk.webp"),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header_desk.webp") 1x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header@2x_desk.webp") 2x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-image: -webkit-image-set(url("../../images/header@3x_desk.webp") 3x),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  // Завантаження ретінізованого 2х фонового зображення
  @include mq(retina) {
    background-image: url("../../images/header_desk.webp"),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(url("../../images/header_desk.webp") 1x),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(
        url("../../images/header@2x_desk.webp") 2x
      ),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: -webkit-image-set(
        url("../../images/header@3x_desk.webp") 3x
      ),
      linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
  }

  @include mq(desktop) {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
  }

  &__container {
    margin-left: auto;
    margin-right: auto;

    width: 100%;

    @include mq(mobile) {
      width: 480px;
    }

    @include mq(tablet) {
      width: 768px;
    }

    @include mq(desktop) {
      // max-width: 1600px;
      width: 1200px;
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    color: var(--primary-color);
    margin-bottom: 30px;

    @include mq(desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero__button {
  color: var(--primary-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  border: 0;

  margin-left: auto;
  margin-right: auto;

  transition: background-color var(--animation);
  animation: swing 10s ease-in-out infinite forwards;

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover);
  }
}
