/* Button filter*/

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;

  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -8px;
  margin-top: -15px;

  @include mq(tablet) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.filter .section-item {
  margin-left: 8px;
  margin-top: 15px;
}

.button-filter {
  color: var(--primary-text-color);
  background-color: var(--secondary-background);
  text-decoration: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;

  padding: 6px 22px;
  border-radius: 4px;
  min-width: 50px;
  min-height: 38px;
  border: 0;

  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);

  &.active,
  &:hover,
  &:focus {
    color: var(--primary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}
